header, body, footer
{

    background-color: black;
}
.bordas
{
    border-top: 10px solid beige;
}

main
{
    display: flex;                   /* Ativa o Flexbox no corpo */
    justify-content: center;         /* Centraliza horizontalmente */
    align-items: center;             /* Centraliza verticalmente */
}

.margem{
    display: flex;                   
    justify-content: center;         
    align-items: center;             

    width: 1000px;           /* Largura do quadrado */
    height: 780px;          /* Altura do quadrado (igual à largura) */
    background-color: beige; /* Cor de fundo do quadrado */
    
    margin-top: 50px;
}
.layout
{
    width: 940px;           
    height: 705px;          
    background-color: rgb(251, 251, 235); 
}
.titulo
{
    margin-left: 10px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.primeiro-paragrafo, .segundoparagrafo, .terceiroparagrafo{
    
    font-style: italic;
    margin-left: 10px;
    font-size: 22;
    font-family: Arial, Helvetica, sans-serif;
    
}
.imagem img{
    width: 80px;
    height: 90px;
    margin-left: 90%;
    margin-bottom: 100%;
}
.botaoformat
{
    margin-left: 40%;
    margin-top: 80px;
    border: 10px solid #f8f8d2;
    background-color: beige;
    border-radius: 5px;
}
.texto
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 40;
    text-decoration: none;  /* Remove o sublinhado do link */
}
