main
{
    background-color: black ;
    height: 1000px;
    width: 100%;
}
.quadrado
{
    
    width: 100%;
    height: 800px;
    background-image: url(iStock-617759204-986x657.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y: 40% ;
    
    display: flex;
   
} 
.logo
{
    
    width: 300px;
    height: 300px;
    position: relative;
    left: 4%;
    top: 6%;
   
   
    
}
.image
{
    width: 300px;
    height: 300px;
}
.imagem img
{
    width: 100%;
    height: 100%;
    gap: 10px;
}
.imagem
{
    display: flex;
    overflow: hidden;
}
.navlist
{
    gap: 10px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    background-color:rgb(0, 0, 0, .9)
    
}
.list
{
    
    gap: 10px;
    display: flex;
    list-style: none;
    color: aliceblue;
   
}
.list_item
{
    
    border: 1px solid white;
    border-radius: 5px;
    padding: 10% 15%;
    display: flex;
    align-items:  center ;

}
.list_item:hover
{
    background-color: rgb(250, 218, 177, .10)
}
.list_item a
{
    color: aliceblue;
    text-decoration: none;
}
.list_item a:active
{
    color: aliceblue;
    text-decoration: none;
}
.list_item_img
{
    height: 25px;
    
}
.b
{
    display: flex;
    gap: 10px;
    align-items: center;
}
body{
    min-width: 100vw;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.i
{
    width:50px;
    height: 50px;
}
header
{
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}
